<div class="container-fluid">
    <div class="row">
      <div class="grid-container">
        
        <!-- Logo Section -->
        <div class="logo d-flex align-items-center">
          <img src="" alt="Logo" class="me-2" style="width: 50px;" />
          <span class="fw-bold">VAT Accounting System</span>
        </div>
  
        <!-- Navigation Section -->
        <div class="nav-container align-items-center">
          <ul class="nav-links d-flex mb-0 list-unstyled justify-content-center">
            <li class="me-3"><a routerLink="dashboard" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">Dashboard</a></li>
            <li class="me-3"><a routerLink="monitoring" routerLinkActive="active-link">Monitoring</a></li>
            <li class="me-3"><a routerLink="analysis" routerLinkActive="active-link">Analysis</a></li>
            <li class="me-3"><a routerLink="mushaks" routerLinkActive="active-link">Mushak</a></li>
            <li><a routerLink="vat-office" routerLinkActive="active-link">VAT Office</a></li>
          </ul>
        </div>
  
        <!-- Profile Section -->
        <div class="profile d-flex align-items-center justify-content-end">
          <span class="me-2">Sarah Noor</span>
          <img src="" alt="Profile Picture" class="rounded-circle" style="width: 40px; height: 40px;" />
        </div>
  
      </div>
    </div>
  </div>
  