.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    align-items: stretch; 
  }
  
  .logo {
    justify-self: start;
    background-color: #f5f1f1;
    border-top-right-radius: 20px;
    width: 100%;
  }
  
  .nav-container {
    justify-self: center;
    justify-content: center;
    background-color: #f5f5f5;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
    right: 0;
    border-radius: 10px 0 0 0px;
    box-shadow: 0px 10px 0 0 #fff;
    bottom: -5px;
  
    
  }
  
  .profile {
    justify-self: end;
    border-top-left-radius: 20px;
    background-color: #f6f6f6;
    width: 100%;
  }
  
  
  
    .container-fluid {
      overflow-x: auto;
    
    }
      
    .nav-links {
      display: flex;
      list-style: none;
      gap: 10px;
    }
    
    .nav-links a {
      text-decoration: none;
      font-size: 16px;
      font-weight: 500;
      padding: 10px 15px;
      color: #333;
      background-color: #f6f6f6;
      border-radius: 8px;
      transition: background-color 0.3s, color 0.3s;
      align-items: center;
    }
    
      .nav-links .active-link {
      background-color: #004d40; 
      color: #fff;
    }
    
  
   
   
  