<div class="row pt-5">

  <div class="col">
    <h2 style="font-weight: 600;">Welcome Back!</h2>
  </div>
</div>



<div class="row align-items-stretch pt-3">

  <div class="col-8" style="padding-right: 50px; padding-left: 20px;">


    <div class="row bg-white d-flex px-2 py-4" style="border-radius: 20px; box-shadow: 0px 4px 20px #0000000D;
">


      <div class="col ">

        <div class="card-body d-flex align-items-center "
          style=" background-color:  #ffe5e5;border-radius: 20px; height: 200px;">
          <div class="col d-flex flex-column align-items-center gap-3">
            <div class="d-inline-flex justify-content-center align-items-center"
              style=" background-color:#FFC0C4; border-radius: 20px; width: 50px; height: 50px;">
              <img src="assets/images/commissionerat.svg" style="width: 30px;height: 30px;  ">
            </div>

            <p class="card-text p-0 m-0" style="font-weight: bold;">Commissionerate</p>
            <h2 class="card-title p-0 m-0" style="font-weight: bold;">12</h2>
          </div>
        </div>

      </div>




      <div class="col">

        <div class="card-body d-flex align-items-center justify-content-center"
          style=" background-color:  #ffe5e5;border-radius: 20px; height: 200px">
          <div class="col d-flex flex-column align-items-center gap-3">
            <div class="d-inline-flex justify-content-center align-items-center"
              style=" background-color:#FDD2B2; border-radius: 20px; width: 50px; height: 50px;">
              <img src="assets/images/division.svg" style="width: 30px; height: 30px;">
            </div>
            <p class="card-text p-0 m-0" style="font-weight: bold;">Division</p>
            <h2 class="card-title p-0 m-0" style="font-weight: bold;">91</h2>
          </div>
        </div>


      </div>
      <div class="col">


        <div class="card-body d-flex align-items-center"
          style="background-color: #fff5cc; border-radius: 20px; height: 200px">
          <div class="col d-flex flex-column align-items-center gap-3">
            <div class="d-inline-flex justify-content-center align-items-center"
              style="background-color:#F8E590; border-radius: 20px; width: 50px; height: 50px; ">
              <img src="assets/images/circle.svg" style="width: 30px; height: 30px;">
            </div>
            <p class="card-text p-0 m-0" style="font-weight: bold;">Circle</p>
            <h2 class="card-title p-0 m-0" style="font-weight:bold;">252</h2>
          </div>
        </div>

      </div>

      <div class="col">

        <div class="card-body d-flex align-items-center "
          style="background-color: #f5fcd9; border-radius: 20px; height: 200px">
          <div class="col d-flex flex-column align-items-center gap-3">

            <div class="d-inline-flex justify-content-center align-items-center"
              style="background-color:#EDEF8F; border-radius: 20px; height: 50px; width: 50px;">
              <img src="assets/images/tax-payer.svg" style="width: 30px; height: 30px;">
            </div>
            <p class="card-text p-0 m-0" style="font-weight: bold;">Tax Payer</p>
            <h2 class="card-title p-0 m-0" style="font-weight: bold;">113</h2>

          </div>

        </div>


      </div>

    </div>


  </div>





  <div class="col-4 d-flex flex-column justify-content-between" style="">
    <div class="row align-items-start">
      <p style="font-weight: 500; font-size: 20px;">Tax Payer</p>
      <div class="row align-items-center " style="padding-right: 0px;">

        <div class="custom-select-wrapper d-flex align-items-center m-0 p-0">
          <select class="form-select no-dropdown-icon" id="taxPayer">
            <option value="">Select Tax Payer</option>
            <option value="payer1">Payer 1</option>
            <option value="payer2">Payer 2</option>
          </select>


          <i class="bi bi-chevron-down dropdown-icon d-flex align-items-center justify-content-center"
            style="height: 30px; width: 30px; background-color: #F6F6F6; border-radius: 10px; border: 1px solid rgb(123, 102, 102); "></i>

        </div>

      </div>



    </div>


    <div class="row">
      <div class="col-md-4 p-0">

        <p style="font-weight: 500; font-size: 20px; padding-left: 12px;">From Date</p>
        <div class="position-relative">
          <!-- Input field styled for the date picker -->
          <input type="date" class="form-control" id="fromDate"
            style="height: 60px; border-radius: 15px; cursor: pointer;">
        </div>
      </div>

      <div class="col-md-4" style="">
        <p style="font-weight: 500; font-size: 20px; ">To Date</p>
        <input type="date" class="form-control " id="toDate" style="height: 60px; border-radius: 15px;">
      </div>

      <div class="col-md-4 d-flex align-items-end p-0 ">
        <button type="button" class="btn"
          style="height: 60px;width: 175px; background-color: #35BC8C; border-radius: 15px; font-weight: 500; color: white; font-weight: 500; font-size: 20px;">Download
          <b> <i class="bi bi-download" style="padding-left: 5px; "> </i></b></button>
      </div>

    </div>






  </div>





</div>




<div class="row align-items-stretch pt-4">



  <div class="col">
    <div class="col d-flex bg-white justify-content-evenly"
      style="height: 400px; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;">


      <div class=" col-5">


        <!-- 
            <div *ngIf="isBrowser" style="padding: 60px;">
              <canvas baseChart
                      [datasets]="chartData"
                      [labels]="chartLabels"
                      [options]="chartOptions">
              </canvas>
            </div> -->

      </div>


      <div class="col-1">
        <div class="vertical-line  "></div>
      </div>


      <div class="col-5">



        <!-- <div *ngIf="isBrowser" style="padding: 50px;">
              <canvas baseChart
                      [datasets]="chartData2"
                      [labels]="chartLabels2"
                      [options]="chartOptions">
              </canvas>
            </div> -->

      </div>



    </div>


  </div>




</div>







