


@media (min-width: 700px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl {
      max-width:3000px;
  }
}


.content-wrapper {
    margin-left: 3%;
    margin-right: 3%;
  }


  
