
.grid-container {
    display: grid;
    grid-template-columns: 1.5fr 2fr 1.5fr;
    align-items: stretch; 
    margin: 0;
    padding: 0;
    background-color: rgb(208, 201, 214);;
   
  }

  .logo {
    background-color: rgb(208, 201, 214);
    border-top-right-radius: 20px; /* Sharp top right corner */
    padding: 20px;
    display: flex;
    align-items: center;
  }


  .nav-container {
    background-color: rgb(113, 20, 206);
    border-bottom-left-radius: 30px; /* Sharp top right corner */
    border-bottom-right-radius: 30px; /* Round bottom right corner */
    padding: 20px;
    display: flex;
    align-items: center;
  }

  .profile {
    background-color: rgb(208, 201, 214);
    border-top-left-radius: 20px; /* Sharp top right corner */
    padding: 20px;
    display: flex;
    align-items: center;
   
   
  }